.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}

.blur {
  filter: blur(10px);
}
